DB_NAME=local
DB_USER=user
DB_PASSWORD=password
DB_ROOT_PASSWORD=rootpassword

WORDPRESS_ENVIRONMENT='local'
WORDPRESS_DEBUG='true'
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_IMAGE_VERSION=6.9-fpm-alpine
WORDPRESS_MEMORY_LIMIT='256M'

WORDPRESS_SMTP_ON=true
WORDPRESS_SMTP_MAILER='smtp'
WORDPRESS_SMTP_HOST='mailpit'
WORDPRESS_SMTP_PORT=1025

# Production environment variables
WORDPRESS_DISALLOW_FILE_EDIT=true
WORDPRESS_AUTOMATIC_UPDATER_DISABLED=true
WORDPRESS_DISALLOW_FILE_MODS=false
WORDPRESS_AUTO_UPDATE_CORE=false
WORDPRESS_POST_REVISIONS=3
WORDPRESS_CONCATENATE_SCRIPTS=true
WORDPRESS_FORCE_SSL_ADMIN=true
WORDPRESS_EMPTY_TRASH_DAYS=3
WORDPRESS_COMPRESS_CSS=true
WORDPRESS_COMPRESS_SCRIPTS=true
WORDPRESS_ENFORCE_GZIP=true
WORDPRESS_DISABLE_WP_CRON=true

HOST_NAME=domain.local
PROXY_NAME=www.domain.com

CONTAINER_PREFIX=wp_
