DB_NAME=local
DB_USER=user
DB_PASSWORD=password
DB_ROOT_PASSWORD=rootpassword

WORDPRESS_DEBUG='true'
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_IMAGE_VERSION=latest-fpm-alpine

HOST_NAME=domain.local
PROXY_NAME=www.domain.com

CONTAINER_PREFIX=wp_
